################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*/obj
*/bin/Debug/netcoreapp2.2
*/bin
*/bin/Release/netcoreapp2.2
*/publish
*/Properties/PublishProfiles
*/.vs
/.vs/GGEatFood/v15
/Contracts/bin
/Entities/bin
/GGEatFood/logs
/LoggerServices/bin
/Repository/bin
/.vs
*/appsettings.json
*/appsettings.Development.json
